/* Begin Universal Styles */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  background-color: tan;
  color: white;
}

.sitecontainer {
  width: 960px;
  margin: 0 auto;
}

/* End Universal Styles */

/* Begin Header */

header {
  background-color: black;
  color: white;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

header img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

/* End Header */

/* Begin Main Info */

.maininfo {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  height: 25rem;
}

/* End Main Info */
