/* Begin Universal Styles */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  /* background-color: tan; Remove later, used for testing */
  /*  color: white; Remove later, used for testing */
}

.sitecontainer {
  width: 960px;
  margin: 0 auto;
}

/* End Universal Styles */

/* Begin Header */

header {
  background-color: black;
  color: white;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

header img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.maininfotext {
  width: 20rem;
  background-color: black;
}

/* End Header */

/* Begin Main Info */

.maininfo {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

/* End Main Info */

/* Begin Navigation */

.navigation {
  background-color: firebrick;
}

.navitems {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.navitems span a {
  color: white;
  text-decoration: none;
}

/* End Navigagion */

/* Begin Product Grid */

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.product-image img {
  max-width: 8rem;
}

.description {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}

/* End Product Grid */

/* Begin Location and Hours */

.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

/* End Locaion and Hours */

/* Begin Footer */

footer {
  background-color: black;
  height: 5rem;
  display: flex;
  align-items: center;
  color: white;
}

/* End Footer */
