/* Begin Universal Styles */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  background-color: tan; /* Remove later, used for testing */
  color: white; /* Remove later, used for testing */
}

.sitecontainer {
  width: 960px;
  margin: 0 auto;
}

/* End Universal Styles */

/* Begin Header */

header {
  background-color: black;
  color: white;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

header img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.maininfotext {
  width: 20rem;
  background-color: black;
}

/* End Header */

/* Begin Main Info */

.maininfo {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

/* End Main Info */

/* Begin Navigation */

.navigation {
  background-color: firebrick;
}

.navitems {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.navitems span a {
  color: white;
  text-decoration: none;
}

/* End Navigagion */

/* Begin Product Grid */

.productgrid {
  background-color: white;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.penimage, .watchimage, .glassesimage {
  border: 4px solid black;
  width: 30%;
  margin-top: 3rem;
}

.products span {
  color: white;
  background-color: black;
}

/* End Product Grid */

/* Begin Footer */

footer {
  background-color: black;
  height: 5rem;
  display: flex;
  align-items: center;
}

/* End Footer */
